
{% extends 'admin.html' %}


<div style="background-color: burlywood;">
{% block content %}

<div style="margin-top: 132px;   justify-content: center; width: 100%;" >
    <!-- <button class="tablinks" onclick="openCity(event, 'view')">View Records</button>
     <button class="tablinks" onclick="openCity(event, 'add')">Add Records</button>
    <button class="tablinks" onclick="openCity(event, 'edit')">Edit Records</button>  -->
  </div>
  
  <div style="text-align: center; width: 100%; background-color: rgb(15, 5, 148); margin-bottom: 12px; padding-top: 10px; padding-bottom: 5px;" >
   <ul style="display: flex; justify-content: space-around; width: 100%;">
       <li class="btn btn-outline-success"><a   href="{{ url_for('farms' ) }}">Farm Records</a></li>
       <li class="btn btn-outline-success"><a   href="{{ url_for('crops' ) }}">Crop Records</a></li>
       <li class="btn btn-outline-success"><a   href="{{ url_for('expenses' ) }}">Expenses Records</a></li>
       <li class="btn btn-outline-success"><a   href="{{ url_for('sales' ) }}">Sales and Profit Records</a></li>
      
   </ul>
  </div>
  

   
    <style>
      .farm{
  width: 100%;
  background-color: burlywood;
  margin: auto;
  padding-bottom: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

}
form{
  width: 100%;
  border: 3px;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-clip: content-box;
  background-color: gainsboro;
  margin-left: 5px;
  
}
form input[type = "number"], select,input[type = "text"],input[type = "date"]{
  width:250px;
  
  border-radius: 2px;
  color:black;
}
input[type="submit"]{
  border: 1px solid #f4511e;
  color: black;
  opacity: 0.6;
  transition: 0.3s;
}

input[type="submit"]:hover{
  border: 4px;
  background-color: #f4511e;
}
form div{
  margin-top: 20px;
  display: flex;
  padding-left: 20px;
  margin-bottom:30px ;
 
}
div label{

  width: 150px;
  margin-left: 27px;
  margin-right: 50px;
}
table, td, th {
border: 1px solid black;
padding-left: 12px;
}

table{
  width: 100%;
  margin: auto;
  margin-left: 5px;
  margin-right:5px;
  margin-top: 0px;
  border-collapse: collapse;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
}
th{
  text-align: center;
  
  font-weight: bold;
}
td {
height: 50px;
vertical-align: bottom;
}
h1{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  padding: auto;

  border-radius: 12px;
}
.sub{
  justify-content: space-around;
}
  </style>
    {% block records %}
  
    
    {% endblock %}
   </div>
  
    
{% endblock %}

{% block script %}

<script>
    function openCity(evt, operation) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>
   <script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
       
    
{% endblock %}