{% extends "admin.html" %}
{% block content %}
<div class="row">
   <div class="col-lg-12">
      <h1 class="page-header">Sent Messages</h1>
   </div>
   <div><a href="ssms.php" class="btn btn-lg btn-success" style='width:150px; float:right; margin:10px;'>Send SMS</a></div>
   <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="panel panel-default">
   <div class="panel-body">
      <div class="clearfix mb30"></div>
      <div class="table-responsive">
         <table class="table table-striped" id="table2">
            <thead>
               <tr>
                  <th>#</th>
                  <th>Customer</th>
                  <th>Message</th>
                  <th>Date</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td>33</td>
                  <td>LAL BHADUR HARIJAN</td>
                  <td>Dear Ovie Wisky,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2022-02-18</td>
               </tr>
               <tr>
                  <td>32</td>
                  <td></td>
                  <td></td>
                  <td>2022-02-17</td>
               </tr>
               <tr>
                  <td>31</td>
                  <td>gordon</td>
                  <td>Dear ,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2022-02-17</td>
               </tr>
               <tr>
                  <td>30</td>
                  <td>Ovie Wisky</td>
                  <td>Dear Ovie Wisky,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2022-02-06</td>
               </tr>
               <tr>
                  <td>29</td>
                  <td>Ch. Sikander</td>
                  <td>Dear Ch. Sikander,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2022-02-03</td>
               </tr>
               <tr>
                  <td>28</td>
                  <td>LAL BHADUR HARIJAN</td>
                  <td>Dear Ovie Wisky,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2022-01-25</td>
               </tr>
               <tr>
                  <td>27</td>
                  <td>Ola</td>
                  <td>Dear Ola,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2020-03-09</td>
               </tr>
               <tr>
                  <td>26</td>
                  <td>LAL BHADUR HARIJAN</td>
                  <td>Dear Ovie Wisky,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2020-02-28</td>
               </tr>
               <tr>
                  <td>25</td>
                  <td>hi</td>
                  <td>Dear ,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2019-11-07</td>
               </tr>
               <tr>
                  <td>24</td>
                  <td></td>
                  <td>Dear ,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2019-10-21</td>
               </tr>
               <tr>
                  <td>23</td>
                  <td></td>
                  <td>Dear ,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2019-10-21</td>
               </tr>
               <tr>
                  <td>22</td>
                  <td></td>
                  <td></td>
                  <td>2019-09-16</td>
               </tr>
               <tr>
                  <td>21</td>
                  <td>George</td>
                  <td>Dear ,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2019-08-30</td>
               </tr>
               <tr>
                  <td>20</td>
                  <td>Cosmus musango</td>
                  <td>Dear Cosmus musango,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2019-07-20</td>
               </tr>
               <tr>
                  <td>19</td>
                  <td>Cosmus musango</td>
                  <td>Dear Cosmus musango,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2019-07-20</td>
               </tr>
               <tr>
                  <td>18</td>
                  <td>shourav</td>
                  <td>Dear shourav,
                     We have plenty of Eggs Available now. Buy now while stock last.
                  </td>
                  <td>2018-03-18</td>
               </tr>
               <tr>
                  <td>17</td>
                  <td>Mama John</td>
                  <td>Dear Mama John,
                     Your Clothes are ready for collection. Thanks for your patronage
                  </td>
                  <td>2016-05-23</td>
               </tr>
               <tr>
                  <td>16</td>
                  <td>Abraham Mensah</td>
                  <td>Dear Abraham Mensah,
                     Your Clothes are ready for collection. Thanks for your patronage
                  </td>
                  <td>2016-05-23</td>
               </tr>
               <tr>
                  <td>15</td>
                  <td>Tunji Abaka</td>
                  <td>Dear Tunji Abaka,
                     Your Clothes are ready for collection. Thanks for your patronage
                  </td>
                  <td>2016-05-23</td>
               </tr>
               <tr>
                  <td>14</td>
                  <td>Philip Ehiosu</td>
                  <td>real testing u</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>13</td>
                  <td>Philip Ehiosu</td>
                  <td>Dear+Philip+Ehiosu+%5Cnreal+testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>12</td>
                  <td>Philip Ehiosu</td>
                  <td>real test</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>11</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>10</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>9</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>8</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>7</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>6</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>5</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>4</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>3</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>2</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
               <tr>
                  <td>1</td>
                  <td>Philip Ehiosu</td>
                  <td>testing testing</td>
                  <td>2016-05-07</td>
               </tr>
            </tbody>
         </table>
      </div>
      <!-- table-responsive -->
   </div>
</div>
</div><!-- contentpanel -->
{% endblock %}